<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('设备档案选择供应商')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <input name="cId" type="hidden" id="cId"/>
        <input name="cName" type="hidden" id="cName"/>
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p style="width:118px">统一社会信用代码：</p>
                                <input type="text" name="supCode"/>
                            </li>
                            <li>
                                <p>企业名称：</p>
                                <input type="text" name="supName"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
    	var statusDatas = [[${@dict.getType('supplier_status_type')}]];
    	var prefix = ctx + "equipment/equsupplier";

        $(function() {
            var options = {
                url: prefix + "/list",
		        sortName: "createTime",
		        sortOrder: "desc",
                modalName: "设备供应商",
		        showSearch: false,
		        showRefresh: false,
		        showToggle: false,
		        showColumns: false,
		        clickToSelect: true,
		        rememberSelected: true,
                columns: [{
                	radio: true,
                },
                {
                    field : 'supId', 
                    title : 'ID',
                    visible: false
                },
                {
                    field : 'supCode', 
                    title : '统一社会信用代码'
                },
                {
                    field : 'supName', 
                    title : '企业名称'
                },
                {
                    field : 'supLeg', 
                    title : '法定代表人'
                },
                {
                	field : 'status', 
                    title : '状态 ',
                    formatter: function (value, row, index) {
                    	return $.table.selectDictLabel(statusDatas, value);
    		        }
                },
                {
                    field : 'createTime', 
                    title : '创建时间',
                    align: 'left'
                }]
            };
            $.table.init(options);
        });
        
        $("#bootstrap-table").on("check.bs.table", function () {         //点击radio触发事件
        	var arrselections = $("#bootstrap-table").bootstrapTable('getSelections');
        	$("#cId").val(arrselections[0].supId);
    		$("#cName").val(arrselections[0].supName);
        });
    </script>
</body>
</html>