<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
	<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <style type="text/css">
    h2 {
    	color: #1C84C6;
    }
    .vertical-timeline-content p {
	    margin: 0.4em 0;
	    line-height: 1.6;
	}
    small {
    	color: #23C6C8;
    	font-size: 85%;
    }
    .font-danger{
    	color: #ED5565;
    }
	</style>
</head>
<body class="gray-bg">
    <div class="row animated fadeInRight">
        <div class="ibox float-e-margins">
            <div class="text-center float-e-margins p-md">
                <span>开发时间线</span>
            </div>
            <div id="ibox-content">
                 <div id="vertical-timeline" class="vertical-container light-timeline">
                 	<div class="vertical-timeline-block">
                         <div class="vertical-timeline-icon navy-bg">
                             <i class="fa fa-calendar-minus-o"></i>
                         </div>
                         <div class="vertical-timeline-content">
                         	<h2>2020-03-23至2020-03-27</h2>
							<p>1.整合了layui的上传组件</p>
							<small>&nbsp;&nbsp;&nbsp;&nbsp;a.实现了上传，尚未实现与数据库交互</small><br>
							<p>2.整合了xmSelect下拉组件</p>
							<small>&nbsp;&nbsp;&nbsp;&nbsp;a.在“维修工单”的查询项“维修分类”、“报修地址”实现了下拉树型的单选</small><br>
							<small>&nbsp;&nbsp;&nbsp;&nbsp;b.在“维修人员”的“添加”、“修改”的“维修班组”实现了下拉树型的单选</small><br>
							<small>&nbsp;&nbsp;&nbsp;&nbsp;c.在“受理指派”的“维修人员”实现了下拉树的多选</small><br>
							<small>&nbsp;&nbsp;&nbsp;&nbsp;d.在“受理指派”的“维修班组”、“维修人员”实现了下拉数的联动</small><br>
							<p>3.优化了“维修管理”模块</p>
							<small>&nbsp;&nbsp;&nbsp;&nbsp;a.针对“维修工单”进行“受理指派”、“维修”</small><br>
							<small>&nbsp;&nbsp;&nbsp;&nbsp;b.将“维修花费”改为“维修清单”；<font class="font-danger">维修清单的"备品备件"待日后补完</font></small><br>
							<small>&nbsp;&nbsp;&nbsp;&nbsp;c.添加了“工单查询”功能</small><br>
							<small>&nbsp;&nbsp;&nbsp;&nbsp;d.添加了“工单查看”功能</small><br>
							<p>3.优化了“设备管理”模块</p>
							<small>&nbsp;&nbsp;&nbsp;&nbsp;a.增加了“设备查询”的查询项</small><br>
							<p>4.修复了部分Bug、进行了系统优化</p>
							<p>5.将首页变为开发时间线</p>
                         </div>
                    </div>
                 	<div class="vertical-timeline-block">
                         <div class="vertical-timeline-icon navy-bg">
                             <i class="fa fa-calendar-minus-o"></i>
                         </div>
                         <div class="vertical-timeline-content">
                         	<h2>2020-03-16至2020-03-20</h2>
                         	<p>1.优化了“维修管理”模块</p>
							<small>&nbsp;&nbsp;&nbsp;&nbsp;a.添加了“维修工单”功能：添加、修改、删除</small><br>
							<small>&nbsp;&nbsp;&nbsp;&nbsp;b.针对“维修工单”进行“维修花费”、“维修评价”</small><br>
							<p>3.优化了系统部分功能：</p>
							<small>&nbsp;&nbsp;&nbsp;&nbsp;a.状态的启用、禁用对上下级的影响</small><br>
							<small>&nbsp;&nbsp;&nbsp;&nbsp;b.维修班组的组长只可以指定一个人</small><br>
							<small>&nbsp;&nbsp;&nbsp;&nbsp;c.维修人员在同一班组下不可重复选区</small><br>
							<p>4.修改了系统的部分Bug:</p>
							<small>&nbsp;&nbsp;&nbsp;&nbsp;d.批量删除功能失效</small>
                         </div>
                    </div>
                 	<div class="vertical-timeline-block">
                         <div class="vertical-timeline-icon navy-bg">
                             <i class="fa fa-calendar-minus-o"></i>
                         </div>
                         <div class="vertical-timeline-content">
                         	<h2>2020-03-03至03-13</h2>
							<p>1.基于设备管理系统Demo版修改了代码的底层结构</p>
							<small>&nbsp;&nbsp;&nbsp;&nbsp;a.更换项目包路径为SCTech</small>	
							<small>&nbsp;&nbsp;&nbsp;&nbsp;b.将业务模块单独放置</small>
							<p>2.优化了“设备管理”模块</p>
							<small>&nbsp;&nbsp;&nbsp;&nbsp;a.添加了“设备所在区域”功能:添加、修改、删除</small><br>
							<small>&nbsp;&nbsp;&nbsp;&nbsp;b.添加了“设备位号管理”功能:添加、修改、删除</small><br>
							<p>3.添加了“维修管理”模块</p>
							<small>&nbsp;&nbsp;&nbsp;&nbsp;a.添加了“维修班组”功能:添加、修改、删除</small><br>
							<small>&nbsp;&nbsp;&nbsp;&nbsp;b.添加了“维修人员”功能:添加、修改、删除</small><br>
							<small>&nbsp;&nbsp;&nbsp;&nbsp;c.添加了“维修分类”功能:添加、修改、删除</small>
                         </div>
                     </div>
                     <div class="vertical-timeline-block">
                         <div class="vertical-timeline-icon navy-bg">
                             <i class="fa fa-calendar-minus-o"></i>
                         </div>
                         <div class="vertical-timeline-content">
                         	<h2>2020-03-03前</h2>
							<p>1.完成了设备管理系统Demo版的开发</p>
                         </div>
                     </div>
                 </div>
             </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
</body>
</html>
