<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增设备分类')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-equclass-add">          
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">上级分类：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                    	<input id="treeId" name="parentId" type="hidden" th:value="${equClass?.classId}"/>
                        <input class="form-control" type="text" onclick="selectEquclassTree()" id="treeName" readonly th:value="${equClass?.className}" required>
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>           
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">设备分类名称：</label>
                <div class="col-sm-8">
                    <input name="className" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">设备分类编码：</label>
                <div class="col-sm-8">
                    <input name="classCode" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">显示顺序：</label>
                <div class="col-sm-8">
                    <input name="orderNum" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">
				<label class="col-sm-3 control-label">状态：</label>
				<div class="col-sm-8">
			        <label class="toggle-switch switch-solid">
                        <input type="checkbox" id="status" checked>
                        <span></span>
                    </label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<textarea name="remark" maxlength="500" class="form-control" rows="3"></textarea>
				</div>
			</div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "equipment/equclass"
        
        $("#form-equclass-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {          	
            	var data = $('#form-equclass-add').serializeArray();
            	var status = $("input[id='status']").is(':checked') == true ? 0 : 1;
            	data.push({"name": "status", "value": status});
                $.operate.save(prefix + "/add", data);             
            }
        }

        /*设备分类-新增-选择父部门树*/
        function selectEquclassTree() {
            var options = {
                title: '设备分类选择',
                width: "380",
                url: prefix + "/selectEquclassTree/" + $("#treeId").val(),
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }

        function doSubmit(index, layero){
            var body = layer.getChildFrame('body', index);
            $("#treeId").val(body.find('#treeId').val());
            $("#treeName").val(body.find('#treeName').val());
            layer.close(index);
        }
    </script>
</body>
</html>
