.color-black{
	color: Black;
}
.color-gray{
	color: Gray;
}
.color-dimgray{
	color: DimGray
}
.color-slategray{
	color: SlateGray
}

.ibox-content-notop{
	padding: 0px 20px 20px 20px;
}
.select-table-notop{
	margin-top: 0px;
}